# Virtual environment
.venv/
env/
venv/

# Python cache files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log
*.out
*.err

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage reports
htmlcov/
.coverage
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# PyInstaller
*.spec

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo